# Python build/cache artifacts
__pycache__/
*.pyc

# Virtual environments
.venv/
env/
venv/

# Ignore local secrets and environment files
.streamlit/secrets.toml
.env
# System and notebook files
.DS_Store
.ipynb_checkpoints/

# Streamlit and Gradio local cache folders
.streamlit/
.gradio/
secret.toml
